{% extends 'base.html.twig' %}

{% block title %}terms4FAIRSkills Annotator{% endblock %}

{% block header %}

    <script src="/scripts/annotator/termsSearch.js"></script>
    <script src="/scripts/annotator/annotator.js"></script>

{% endblock %}

{% block content %}


    <!-- Terms Search Container -->
    <div class="container" id="termssearch-container">
        <div class="row">
            <!-- Search box -->
            <div class="col d-flex flex-column justify-content-center gap-5" id="termssearch-container">
                <div class="container d-flex justify-content-center" id="search-container">
                    <input type="text" class="w-75 lead text-center" id="search-box" name="search-box" onkeyup="Annotator.search(this.value)">
                </div>   
                
            </div>

            <!-- Empty cell to maintain 2x2 grid -->
            <div class="col"></div>
        </div>
        <div class="row">
            <!-- Search results -->
            <div class="col d-flex flex-column justify-content-start gap-3" id="results-container"></div>

            <!-- Selected terms list -->
            <div class="col d-flex flex-column justify-content-start gap-5" id="selected-terms-container"></div>
        </div>
    </div>

    
    

{% endblock %}