{% extends 'annotator/annotatorBase.html.twig' %}

{% block title %}Terms Search{% endblock %}

{% block header %}

    {{ parent() }}

    <script>
        // run the setup method when the page loads
        window.onload = TermsSearch.setup;
    </script>

{% endblock %}

{% block content %}

    <div class="d-flex flex-column justify-content-center gap-5" id="termssearch-container">

        <div class="container d-flex justify-content-center" id="search-container">
            <input type="text" class="w-50 lead text-center" id="search-box" name="search-box" onkeyup="TermsSearch.search(this.value)">
        </div>
            
        <div class="container d-flex flex-column justify-content-start gap-3" id="results-container"></div>

    </div>

{% endblock %}