{% block content %}

    <!-- Loading Spinner Container -->
    <div class="container w-100 d-flex flex-row justify-content-center gap-5 p-0" id="loading-spinner-container">

        <div class="spinner-border text-secondary" style="width: 5rem; height: 5rem;" role="status"></div>

    </div>

{% endblock %}