{% block content %}

    <!-- Main menu container -->
    <div class="container w-100 d-flex flex-column justify-content-center gap-5 p-0" id="main-menu-container">

        <div class="container d-flex flex-column justify-content-center p-0">
            <h2>Ontology <span id="ontology-name-span"></span></h2>
            <button type="button" class="btn btn-danger btn-block" onclick="MainMenu.removeOntology()">Clear Ontology</button>
        </div>

        <!-- Annotator menu options -->
        <div class="container d-flex flex-column justify-content-center p-0">
            <h4>Annotator</h4>

            <div class="container d-flex flex-row justifty-content-center gap-3 p-0">
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="MainMenu.goToAnnotator()">Annotate New Resource</button>
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="MainMenu.goToResourcesList()">View Annotated Resources</button>
            </div>

        </div>

        <!-- Terms Search menu options -->
        <div class="container d-flex flex-column justify-content-center p-0">
            <h4>Terms Search</h4>

            <div class="container d-flex flex-row justifty-content-center gap-3 p-0">
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="MainMenu.goToTermsSearch()">Search Ontology</button>
            </div>

        </div>

    </div>

{% endblock %}