{% extends 'base.html.twig' %}

{% block title %}terms4FAIRSkills Annotator{% endblock %}

{% block header %}

    <script src="/scripts/mainMenu.js"></script>
    <script src="/scripts/ontology/ontologyloader.js"></script>

    <script>
        // run the setup method when the page loads
        window.onload = MainMenu.setup;
    </script>


{% endblock %}

{% block content %}

    <div class="container d-flex flex-column justify-content-center align-items-center p-0 m-0">

        <!-- Form container for selecting an ontology -->
        <div class="container d-flex flex-column justify-content-center gap-5 p-0" id="load-ontology-container">

            <!-- Grid to contain the inputs/buttons for selecting  -->
            <div class="container">
                <div class="row my-3">
                    <div class="col">
                        <!-- Details about the use of the terms4FAIRskills GitHub ontology -->
                        <h3>Use terms4FAIRSkills Ontology</h3>
                        <p>Use the ontology from <a class="link-primary" href="https://github.com/terms4fairskills/FAIRterminology">terms4FAIRskills GitHub repository</a>.</p>
                    </div>
                    <div class="col">
                        <!-- Input to enter the URL of an OWL file-->
                        <h3>Ontology From URL</h3>
                        <label for="ontology-url-input" class="form-label">Load from URL</label>
                        <input class="form-control" type="text" name="ontology-url-input" id="ontology-url-input" />
                    </div>
                    <div class="col">
                        <!-- Input to upload an OWL file -->
                        <h3>Ontology From File</h3>
                        <label for="owl-file-upload" class="form-label">Upload from files</label>
                        <input class="form-control" type="file" id="owl-file-upload" />
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <!-- Button to select the terms4FAIRskills OWL file -->
                        <button type="button" class="btn btn-primary text-center w-100 px-5" id="github-load-submit" onclick="OntologyLoader.loadFromGitHub()">Load ontology</button>
                    </div>
                    <div class="col">
                        <!-- Button to import the OWL file from the URL -->
                        <button type="button" class="btn btn-primary text-center w-100 px-5" id="url-load-submit" onclick="OntologyLoader.loadFromURL()">Import ontology</button>
                    </div>
                    <div class="col">
                        <!-- Button to upload the OWL file -->
                        <button type="button" class="btn btn-primary text-center w-100 px-5" id="file-load-submit" onclick="OntologyLoader.loadFromFile()">Upload ontology</button>
                    </div>
                </div>
            </div>

            
            <p class="text-center text-danger" id="owl-selection-error"></p>
        </div>


        <!-- Loading Spinner Container -->
        <div class="container w-100 d-flex flex-row justify-content-center gap-5 p-0" id="loading-spinner-container">

            <div class="spinner-border text-secondary" style="width: 5rem; height: 5rem;" role="status"></div>

        </div>


        <!-- Main menu container -->
        <div class="container w-100 d-flex flex-column justify-content-center gap-5 p-0" id="main-menu-container">

            <div class="container d-flex flex-column justify-content-center p-0">
                <h2>Ontology <span id="ontology-name-span"></span></h2>
                <button type="button" class="btn btn-danger btn-block" onclick="MainMenu.removeOntology()">Clear Ontology</button>
            </div>

            <!-- Annotator menu options -->
            <div class="container d-flex flex-column justify-content-center p-0">
                <h4>Annotator</h4>

                <div class="container d-flex flex-row justifty-content-center gap-3 p-0">
                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="MainMenu.goToAnnotator()">Annotate New Resource</button>
                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="MainMenu.goToResourcesList()">View Annotated Resources</button>
                </div>

            </div>

            <!-- Terms Search menu options -->
            <div class="container d-flex flex-column justify-content-center p-0">
                <h4>Terms Search</h4>

                <div class="container d-flex flex-row justifty-content-center gap-3 p-0">
                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="MainMenu.goToTermsSearch()">Search Ontology</button>
                </div>

            </div>


        </div>


    </div>


{% endblock %}