{% extends 'base.html.twig' %}

{% block title %}terms4FAIRSkills Annotator{% endblock %}

{% block header %}

    <script src="/scripts/mainMenu.js"></script>
    <script src="/scripts/ontology/ontologyloader.js"></script>

    <script>
        // run the setup method when the page loads
        window.onload = MainMenu.setup;
    </script>


{% endblock %}

{% block content %}

    <div class="container d-flex flex-column justify-content-center align-items-center p-0 m-0">

        {% include 'elements/ontologySelector.html.twig' %}

        {% include 'elements/mainMenu.html.twig' %}
        
        {% include 'elements/loadingSpinner.html.twig' %}

    </div>


{% endblock %}