{% extends 'base.html.twig' %}

{% block title %}terms4FAIRSkills Annotator{% endblock %}

{% block header %}

    <script src="/scripts/mainMenu.js"></script>


    <script>
        // run the setup method when the page loads
        window.onload = MainMenu.setup;
    </script>


{% endblock %}

{% block content %}

    <div class="container d-flex flex-column justify-content-center align-items-center p-0 m-0">

        <!-- Form container for selecting an ontology -->
        <div class="container d-flex flex-column justify-content-center gap-5 p-0" id="load-ontology-container">

            <form id="ontology-select-form">

                <div class="container d-flex flex-row justify-content-around gap-2 p-0">
                    <div class="container d-flex flex-column justify-content-center">
                        <label for="ontology-url-input" class="form-label">Load from URL</label>
                        <input type="text" name="ontology-url-input" id="ontology-url-input" />
                    </div>

                    <p>Or</p>

                    <div class="container d-flex flex-column justify-content-center">
                        <label for="owl-file-upload" class="form-label">Upload from files</label>
                        <input class="form-control" type="file" id="owl-file-upload">
                    </div>

                </div>
            </form>
            <button type="button" class="btn btn-primary text-center px-5" id="submit" onclick="MainMenu.loadOntology();">Load ontology</button>
            
            <p class="text-center text-danger" id="owl-selection-error"></p>
        </div>


        <!-- Loading Spinner Container -->
        <div class="container w-100 d-flex flex-row justify-content-center gap-5 p-0" id="loading-spinner-container">

            <div class="spinner-border text-secondary" style="width: 5rem; height: 5rem;" role="status"></div>

        </div>


        <!-- Main menu container -->
        <div class="container w-100 d-flex flex-column justify-content-center gap-5 p-0" id="main-menu-container">

            <div class="container d-flex flex-column justify-content-center p-0">
                <h2>Ontology <span id="ontology-name-span"></span></h2>
                <button type="button" class="btn btn-danger btn-block" onclick="MainMenu.removeOntology()">Clear Ontology</button>
            </div>

            <!-- Annotator menu options -->
            <div class="container d-flex flex-column justify-content-center p-0">
                <h4>Annotator</h4>

                <div class="container d-flex flex-row justifty-content-center gap-3 p-0">
                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="MainMenu.goToAnnotator()">Annotate New Resource</button>
                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="MainMenu.goToResourcesList()">View Annotated Resources</button>
                </div>

            </div>

            <!-- Terms Search menu options -->
            <div class="container d-flex flex-column justify-content-center p-0">
                <h4>Terms Search</h4>

                <div class="container d-flex flex-row justifty-content-center gap-3 p-0">
                    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="MainMenu.goToTermsSearch()">Search Ontology</button>
                </div>

            </div>


        </div>


    </div>


{% endblock %}